[submodule "themes/hugo-xmin"]
	path = themes/hugo-xmin
	url = https://github.com/yihui/hugo-xmin.git
[submodule "themes/hugo-xmag"]
	path = themes/hugo-xmag
	url = git@github.com:yihui/hugo-xmag.git
