{{ define "main" }}
<div class="container article-container ">
    <div class="article-rightbar">
        <div class="article-rightbar-child">
            <h3>/{{.Title}}</h1>
        </div>
        <div class="article-rightbar-child">
            {{ with .Site.GetPage "/_Sidebar.md" }}
            {{ .Content }}
            {{ end }}
        </div>
    </div>
    <div class="article-metamain">
        <div class="article-content">
            {{ with .Site.GetPage "/Home.md" }}
            {{ .Content }}
            {{ end }}
        </div>
        <div class="article-content">
            {{ with .Site.GetPage "/_footer.md" }}
            {{ .Content }}
            {{ end }}
        </div>
    </div>
</div>
{{ end }}