{{ define "main" }}
<div class="article-container container">
    <div class="article-rightbar">
        <div class="article-rightbar">
            <div class="article-rightbar-child">
                <h1><a href="/{{ .Section }}"> {{ .Section }}</a>
                    <h1>
                        <h3>{{.Title}}
                    </h1>
            </div>
        </div>
        <div class="sidetoc">

            {{ partial "toc_fixed.html" .}}

        </div>
        <div class="article-rightbar-child">
            {{ partial "author_card.html" .}}
        </div>
        {{ if .Params.combi }}
        <div class="article-rightbar-child">
            <h2> {{ default "Combi: " (index $.Site.Params.text "combi") }}</h2>
            {{ with .Params.combi }}
            <p class="tags">
                <a href="/combi/{{.}}">{{ . }}</a>
            </p>
            {{ end }}
        </div>
        {{ end }}
        {{ if .Params.bangumis }}
        <div class="article-rightbar-child">
            <h2> {{ default "Bangumis: " (index $.Site.Params.text "bangumi") }}</h2>
            {{ with .Params.bangumis }}
            <p class="tags">
                {{ range $i, $e := . }}
                {{ if $i }} {{ end }}
                <a href="{{ relURL (print "/bangumis/" $e | urlize) }}">{{ $e }}</a>
                {{ end }}
            </p>
            {{end}}
        </div>
        {{ end }}
        {{ if .Params.tags }}
        <div class="article-rightbar-child">
            <h2> {{ default "Tags: " (index $.Site.Params.text "tags") }}</h2>
            {{ with .Params.tags }}
            <p class="tags">
                {{ range $i, $e := . }}
                {{ if $i }} {{ end }}
                <a href="{{ relURL (print "/tags/" $e | urlize) }}">{{ $e }}</a>
                {{ end }}
            </p>
            {{ end }}
        </div>
        {{ end }}
    </div>
    <div class="article-metamain">
        <div class="article-meta">
            <h1><span class="title">{{ .Title }}</span></h1>
        </div>
        <div class="wiki-content">
            {{ .Content }}
        </div>
    </div>
</div>
{{ end}}