body {
  margin: 0;
  line-height: 1.5em;
  background-color: #ffffff;
  background-image: url("/img/banner-mix_new.jpg");
  background-repeat: no-repeat;
  background-size: contain;



}
.header div, .container, .copyright, .menu {
  max-width: 1100px;
  margin: auto;
  padding: 0 15px;
}


.home {
  max-width: 1100px;
  margin: auto;
  padding: 0 15px;
  min-height: 400px;
  background-color: #777796;
  opacity: 0.5
}

.home h2{
  color: #ffffff;
  opacity:0.9;
}

.menu {
  max-width: 1100px;
  width:70%;
  margin: auto;
  padding: 0 15px;
}

.page .header div, .page .container, .page .copyright, .page .menu { max-width: 900px; }
.container { hyphens: auto; }
@media (max-width: 930px) {
  .page .container { padding: 0; }
}
main { margin-bottom: 15px; }

/* header and footer areas */
.header {
  border-top: 5px solid #666;
  /*border-bottom: 4px double #666;*/
  text-align: center;
  padding: 15px 0 5px;
   /*border: 3px solid green;*/

  /*background-color: #cccccc;*/
}
/* .menu {
  display: flex;
  justify-content: space-between;
}*/

.head-meta {
  display: none;
}


 .list section, article { background: #fff; }
/*.banner { font-size: 4em; }*/
/*.banner .text {
  padding:0;
  display: block;
  line-height: 1em;
}*/

.banner{
  /*border: 3px solid green;*/
}
.header .banner-image{
  margin-top: 5px;
    /*margin-left: 0;*/
  /*padding-left: 0;*/
  /*width:50%;*/
  /*border: 3px solid green;*/
}




.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
}
.list section {
  flex: 1 0 350px;
  box-sizing: border-box;
  /*box-shadow: 0 0 8px #ccc;*/
  margin: 1em 0 0 15px;
  padding: 1em;
  overflow-x: hidden;
}
@media (max-width: 380px) {
  .list section { flex: auto; }
}
@media (min-width: 715px) {
  .list section { max-width: calc(50% - 15px); }
  .article-list h1 {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .article-list h1:hover { white-space: inherit; }
}
@media (min-width: 1080px) {
  .list section { max-width: calc(33.33333% - 15px); }
}
.article-list a, .banner a { color: #000; }

.article-list .summary{
  font-size: 0.8em;
  color: #666;
}

.article-list .date-author{
  font-size: 0.9em;

  /*color: #777;*/
}
.article-list {
  opacity: 0.9
}

.categories a {
  font-size: .9em;
  font-weight: bolder;
  text-transform: uppercase;
  color: #666;
}

.tags {
  /*border: 3px solid green;*/
    border-top: 1px dashed #cce5ff;
    padding: 5px;
    margin: 0px;
}

.tags a{

  font-size: .9em;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border-radius: 5px;
  padding: 5px;
  background: #cce5ff;

  transition: background .5s;

}

.tags a:hover{
  background: #f8ee79;
  color:#fff;
}
/*re define article-meta*/

.article-meta {
  text-decoration: none;
  /*background: #eee;*/
  padding: 5px;
  /*border-radius: 5px;*/
  text-align: left;
}

.article-meta .profile{
  /*border-top: 1px dashed #777796;*/
  border: none;
  /*visibility: collapse;*/

}

.profile-img{
  width: 200px;
}

.article-meta h1{
  /*border: 3px solid green;*/
  /*color:red;*/
  /*margin: 30px;*/

}

.article-meta-top {
  /*height: 2.5em;*/
  position: relative;
  width: 100%;
}

.article-meta-top .categories {
  /*height: 2.5em;*/
  margin: 0;
  border-radius: 5px;
  padding: 5px;
}

.article-meta-top .editpage{
  width: 50%;
  position: absolute;
  top:0;
  right:0;


  text-align: right;
}

.editpage a,.article-meta-top .categories a{
  /*border: 3px solid green;*/
    font-size: .9em;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  /*border-radius: 5px;*/

  /*background: #cce5ff;*/

  transition: background .5s;
  border-radius: 5px;
  padding: 5px;

}



.editpage a:hover,.article-meta-top .categories a:hover{
  background: #f8ee79;
  /*color:#fff;*/
}


.article-meta-authordate {
  /*height: 2.5em;*/
  position: relative;
  width: 100%;
}

.article-meta-authordate h3 {
  /*height: 2.5em;*/
  margin: 5px;
}

.article-meta-authordate .date{
  position: absolute;
  top:0;
  right:0;
  text-align: left;
}


/* redefine article-list*/

.category_date {
  position: relative;
  width: 100%;
}

.category_date .categories a{
  padding: 2px;
  border-radius: 3px;
  border: 1px solid #777796;
  transition: background .5s;

}

.category_date .categories a:hover{
  background: #f8ee79;

}

.category_date .date{
  position: absolute;
  top:0;
  right:0;

  text-align: left;
}

h1 a:hover { text-decoration: underline; }
.article-list h1 { margin: .2em auto .2em 0; }
article { padding: 1em; }

.menu, footer, .post-nav { text-align: center; }
.article-meta.article-footer {
   text-align: left;
   /*border: 1px solid #777796;*/
   /*background-color: #dfdfdf*/

}
.title { font-size: 1.2em; }
.article-list h1, .title { line-height: 1.2em; }
.article-list a, .header a, footer a, .categories a, .active a, .comments a { text-decoration: none; }
.pagination { text-align: center; }
.pagination li { display: inline; }
.pagination a { padding: 0 .2em; }
.footer {
  background: #777796;
  padding: 1em 0;
}

/*list*/
li {
  margin: 4px 0;
  padding: 0;
  list-style-type: disc;
}

ul.a {list-style-type: circle;}
ul.b {list-style-type: disc;}
ul.c {list-style-type: square;}
ol.d {list-style-type: armenian;}
ol.e {list-style-type: cjk-ideographic;}
ol.f {list-style-type: decimal;}
ol.g {list-style-type: decimal-leading-zero;}
ol.h {list-style-type: georgian;}
ol.i {list-style-type: hebrew;}
ol.j {list-style-type: hiragana;}
ol.k {list-style-type: hiragana-iroha;}
ol.l {list-style-type: katakana;}
ol.m {list-style-type: katakana-iroha;}
ol.n {list-style-type: lower-alpha;}
ol.o {list-style-type: lower-greek;}
ol.p {list-style-type: lower-latin;}
ol.q {list-style-type: lower-roman;}
ol.r {list-style-type: upper-alpha;}
ol.t {list-style-type: upper-latin;}
ol.u {list-style-type: upper-roman;}
ol.v {list-style-type: none;}
ol.w {list-style-type: inherit;}

.terms li {
  padding: 0.2em;
  list-style-type: none;
}



.footer, .footer a { color: #fff; }
.copyright, .copyright a { color: #ccc; }
.menu {
  margin-bottom: .5em;
  flex-wrap: wrap;
}
.menu li {
  display: inline-block;
  font-weight: bolder;
}
.menu a { padding: .5em; }
.menu a:hover {
  color: #000;
  background: #fff;
}

hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code {
  background: none;
  padding: .5em;
  display: block;
}

/* misc elements */
img, iframe, video { max-width: 100%; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}
img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.subteams{
  width:100%;

}

.subteams td{
  max-width: 20%;

}

table {
  margin: 1em auto auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
td{min-width: 100px;}
tr:nth-child(even) { background: #eee }

/* removed thumbnail pic css*/
/* by TC*/
/*.thumbnail {
  height: 5.5em;
  width: 6.8em;
  float: left;
  overflow: hidden;
  margin: 5px 8px 5px 0;
  box-shadow: 0 0 8px #666;
     border: 3px solid green;
}*/
.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#TableOfContents, #TOC, .comments {
  border: 1px solid #eee;
  border-radius: 5px;
}
.comments a {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
.terms { padding-left: 0; }
.post-nav {
  margin: .5em 0;
  display: flex;
  justify-content: space-between;
}
.footnotes { font-size: .9em; }
.footnotes hr {
  width: 50%;
  margin-left: 0;
}
/* redefined menu top*/
/* by TC*/
.menu-top {
  display: flex;
   /*justify-content: space-between;*/
    /*border: 3px solid green;*/
    width: 60%;
    /*margin:auto;*/
  margin-bottom:0;
  padding-left:0;
  /*padding-top:20;*/

  border-radius: 5px;
    /*display: table-cell;*/
   vertical-align: middle;
   /*position: fixed;*/

}

/*.menu-top li:first-child { border-left: 1px solid #e6ad00; }*/

.menu-top li {
  /*display: inline-block;*/
  background: #fff;
  display: flex;
  /*border-radius: 5px;*/
  /*width: 1em;*/
  /*word-break: break-all;*/
  /*border-left: 1px solid #e6ad00;*/
  /*border-right: 1px solid #fff;*/
  transition: background .5s;
  padding: 5px 1em 5px 1em;
  font-weight: bolder;
  align-items: center;


}
.menu-top li:hover { background: #f8ee79; }
.menu-top li a {
  color: #777796;
  /*display: flex;*/
}
/*.menu-top li:hover a { color: #fff; }*/


