body {
  margin: 0;
  line-height: 1.5em;
  background-color: #ffffff;
  background-image: url("/img/banner_mix_2018_v2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: absolute;
  z-index:1;



}

.frontface{
  width: 90%;
  height: max-content;
  margin: auto;
  padding: 10px;
  /*margin-top: 5%;*/
  display:flex;
  /*border: 3px solid green;*/
  background-color: rgba(63, 191, 63, 0.1);;
  border-radius: 20px;
  /*opacity: 0;*/
  font-size: 1.5em;
    /*color: #777796;*/
}


.frontcontent{
  width: 100%;
  height: max-content;
  position: relative;
  /*flex: 0 0 65%;*/
}

.ball {
    /* margin-left: 60%; */
    position: absolute;
    top: 20%;
    right: 0;
    width: 15%;
}

.header div, .container, .copyright, .menu {
  max-width: 1100px;
  margin: auto;
  padding: 0 15px;
  z-index:1;
  position:inherit;
}


.home {
  max-width: 1100px;
  margin: auto;
  padding: 0 15px;
  min-height: 400px;
  background-color: #777796;
  opacity: 0.5
}

.home h2{
  color: #ffffff;
  opacity:0.9;
}

.menu {
  max-width: 1100px;
  width:70%;
  margin: auto;
  padding: 0 15px;
  position:inherit;
  z-index:1;
}

.page .header div, .page .container, .page .copyright, .page .menu { max-width: 900px; }
.container { hyphens: auto; }
@media (max-width: 930px) {
  .page .container { padding: 0; }
}
main {
  margin-bottom: 15px;
  font-size: 15px;
  z-index:1;
}
/* h1 style in main*/ 

article main h1 h2 {
    background: #777796;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
    color: #FFFFFF;
    /*font-family: "微软雅黑" , "宋体" , "黑体" ,Arial;*/
    font-size: 30px;
    font-weight: bold;
    height: 32px;
    line-height: 25px;
    margin: 18px 0 !important;
    padding: 8px 0 5px 5px;
    text-shadow: 2px 2px 3px #222222;
    /* border-left: solid 5px deepskyblue; */
    /* border-top: solid 5px rgba(0, 0, 0, 0); */
    /* border-bottom: solid 5px rgba(0, 0, 0, 0); */
    /* background-color: #fbfbfb; */
}

article main h2 {
    background: #777796;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
    color: #FFFFFF;
    /*font-family: "微软雅黑" , "宋体" , "黑体" ,Arial;*/
    font-size: 30px;
    font-weight: bold;
    height: 32px;
    line-height: 25px;
    margin: 18px 0 !important;
    padding: 8px 0 5px 5px;
    text-shadow: 2px 2px 3px #222222;
    /* border-left: solid 5px deepskyblue; */
    /* border-top: solid 5px rgba(0, 0, 0, 0); */
    /* border-bottom: solid 5px rgba(0, 0, 0, 0); */
    /* background-color: #fbfbfb; */
}


/* header and footer areas */
.header {
  border-top: 5px solid #666;
  /*border-bottom: 4px double #666;*/
  text-align: center;
  padding: 15px 0 5px;
   /*border: 3px solid green;*/

  /*background-color: #cccccc;*/
}
/* .menu {
  display: flex;
  justify-content: space-between;
}*/

.head-meta {
  display: none;
}


 .list section, article { background: #fff; }
/*.banner { font-size: 4em; }*/
/*.banner .text {
  padding:0;
  display: block;
  line-height: 1em;
}*/

article{
  z-index:2;
}
.banner{
  /*border: 3px solid green;*/
   z-index: 2
}
.header .banner-image{
  z-index: 2
  margin-top: 5px;
    /*margin-left: 0;*/
  /*padding-left: 0;*/
  /*width:50%;*/
  /*border: 3px solid green;*/
}




.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
}
.list section {
  flex: 1 0 350px;
  box-sizing: border-box;
  /*box-shadow: 0 0 8px #ccc;*/
  margin: 1em 0 0 15px;
  padding: 1em;
  overflow-x: hidden;
}
@media (max-width: 715px) {
  .list section { flex: auto; }
  .full-title {
      display: none;
  }
  /*.frontface{*/
    /*display: none;*/
  /*}*/
  /*.pagination .other,.pagination .disabled{*/
    /*display:none;*/
  /*}*/
  /*.pagination li a {*/
    /*display: grid;*/
  /*}*/
  /*.pagination {*/
    /*display: inline-flex;*/
  /*}*/

}

@media (min-width: 715px) {
  .article-list h1 {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    /* This transparent border line is used for exact layout of .full-title */
    border: 1px solid rgba(1,1,1,0.0);
  }

}
@media (min-width: 1080px) {
  .list section { max-width: calc(33.33333% - 15px); }
}
.article-list a, .banner a { color: #000; }

.article-list .summary{
  font-size: 0.8em;
  color: #666;
}

.article-list .date-author{
  font-size: 0.9em;

  /*color: #777;*/
}
.article-list {
  opacity: 0.9
}

.categories a {
  font-size: .9em;
  font-weight: bolder;
  text-transform: uppercase;
  color: #666;
}

.tags {
  /*border: 3px solid green;*/
    border-top: 1px dashed #cce5ff;
    padding: 5px;
    margin: 0px;
    line-height: 2.5em;
}

.tags a{

  font-size: .9em;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border-radius: 5px;
  padding: 5px;
  background: #cce5ff;

  transition: background .5s;

}

.tags a:hover{
  background: #f8ee79;
  /*color:#fff;*/
}
/*re define article-meta*/

.article-meta {
  text-decoration: none;
  /*background: #eee;*/
  padding: 5px;
  /*border-radius: 5px;*/
  text-align: left;
}

.article-meta .profile{
  /*border-top: 1px dashed #777796;*/
  border: none;
  /*visibility: collapse;*/

}



.team-img{
  width: 200px;
  border-radius: 50%;
  border: 1px solid #ddd;
    box-shadow: 10px 5px 5px #eee;
}
.article-meta h1{
  /*border: 3px solid green;*/
  /*color:red;*/
  /*margin: 30px;*/

}

.article-meta-top {
  /*height: 2.5em;*/
  position: relative;
  width: 100%;
}

.article-meta-top .categories {
  /*height: 2.5em;*/
  margin: 0;
  border-radius: 5px;
  padding: 5px;
}

.article-meta-top .editpage{
  width: 50%;
  position: absolute;
  top:0;
  right:0;


  text-align: right;
}

.editpage a,.article-meta-top .categories a{
  /*border: 3px solid green;*/
    font-size: .9em;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  /*border-radius: 5px;*/

  /*background: #cce5ff;*/

  transition: background .5s;
  border-radius: 5px;
  padding: 5px;

}



.editpage a:hover,.article-meta-top .categories a:hover{
  background: #f8ee79;
  /*color:#fff;*/
}


.article-meta-authordate {
  /*height: 2.5em;*/
  position: relative;
  width: 100%;
}

.article-meta-authordate h3 {
  /*height: 2.5em;*/
  margin: 5px;
}

.article-meta-authordate .date{
  position: absolute;
  top:0;
  right:0;
  text-align: left;
}


/* redefine article-list*/

.category_date {
  position: relative;
  width: 100%;
}

.category_date .categories a{
  padding: 2px;
  border-radius: 3px;
  /*border: 1px solid #777796;*/
  transition: background .5s;

}

.category_date .categories a:hover{
  background: #f8ee79;

}

.category_date .date{
  position: absolute;
  top:0;
  right:0;

  text-align: left;
}

h1 a:hover { text-decoration: underline; }
.article-list h1 { margin: .2em auto .2em 0; }
article { padding: 1em; }

.menu, footer, .post-nav { text-align: center;
  position:inherit;
  z-index: 1;}
.article-meta.article-footer {
   text-align: left;
   /*border: 1px solid #777796;*/
   /*background-color: #dfdfdf*/

}
.title { font-size: 1.2em; }
.article-list h1, .title { line-height: 1.2em; }
.article-list a, .header a, footer a, .categories a, .active a, .comments a { text-decoration: none; }
.pagination {
  /*display:grid;*/
  text-align: center;
  padding: 1em;
  z-index:1;
  position:relative;
}
.pagination li { display: inline; z-index:1;}
/*.pagination a { padding: 0 .2em; }*/
.pagination li a:hover {
  background: white;
  color: #777796;
  transition-duration:0.4s

}



.pagination li a{
  display:inline-flex;
  /*border: 1px solid #ddd;*/
    border-radius: 3px;
    padding: .25em .5em;
  margin-left: .2em;
  font-size: 1em;
  font-weight:bolder;
  color: white;
  background: #777796;
  text-decoration: none;
  z-index:1;
}

.pagination .active a{
  font-size:1.5em;
}


/*.pagination a:hover {
  color: #000;
  background: #fff;
}*/


.footer {
  background: #777796;
  padding: 1em 0;
  position:inherit;
  z-index:1;
}

/*list*/

.last-modified {
    color: orangered;
}


li {
  margin: 4px 0;
  padding: 0;
  list-style-type: disc;
}

ul.a {list-style-type: circle;}
ul.b {list-style-type: disc;}
ul.c {list-style-type: square;}
ol.d {list-style-type: armenian;}
ol.e {list-style-type: cjk-ideographic;}
ol.f {list-style-type: decimal;}
ol.g {list-style-type: decimal-leading-zero;}
ol.h {list-style-type: georgian;}
ol.i {list-style-type: hebrew;}
ol.j {list-style-type: hiragana;}
ol.k {list-style-type: hiragana-iroha;}
ol.l {list-style-type: katakana;}
ol.m {list-style-type: katakana-iroha;}
ol.n {list-style-type: lower-alpha;}
ol.o {list-style-type: lower-greek;}
ol.p {list-style-type: lower-latin;}
ol.q {list-style-type: lower-roman;}
ol.r {list-style-type: upper-alpha;}
ol.t {list-style-type: upper-latin;}
ol.u {list-style-type: upper-roman;}
ol.v {list-style-type: none;}
ol.w {list-style-type: inherit;}

.terms li {
  padding: 0.2em;
  list-style-type: none;
}



.footer, .footer a { color: #fff; }
.copyright, .copyright a { color: #ccc; }
.menu {
  margin-bottom: .5em;
  flex-wrap: wrap;
  position:inherit;
  z-index: 1;
}
.menu li {
  display: inline-block;
  font-weight: bolder;
    position:inherit;
  z-index: 1;
}
.menu a { padding: .5em;
    position:inherit;
  z-index: 1;

}
.menu a:hover {
  color: #000;
  background: #fff;
    position:inherit;
  z-index: 1;
}

hr {
  border-style: solid;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code {
  background: none;
  padding: .5em;
  display: block;
}

/* misc elements */
img, iframe, video { max-width: 100%; }

.vcontainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

img{

  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  z-index:2;
}
img:hover {
      -webkit-transform: scale(1.15);
     transform: scale(1.15);
    /*opacity: 0.5;*/
    /*filter: alpha(opacity=50); /* For IE8 and earlier */
     /*-webkit-filter: blur(5px);*/
     /*opacity: .5;*/
     /*-webkit-filter: grayscale(100%);*/
     /*transition: .5s*/
       /*display: inline-block;*/
  /*vertical-align: middle;*/
}

.subteams{
  border: 1px solid #666;
  width:100%;

  border:none;
}

.subteams td{
  max-width: 20%;

}

table {
  margin: 1em auto auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
td{min-width: 100px;}
tr:nth-child(even) { background: #eee }

/* removed thumbnail pic css*/
/* by TC*/
/*.thumbnail {
  height: 5.5em;
  width: 6.8em;
  float: left;
  overflow: hidden;
  margin: 5px 8px 5px 0;
  box-shadow: 0 0 8px #666;
     border: 3px solid green;
}*/
.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#TableOfContents, #TOC, .comments {
  border: 1px solid #eee;
  border-radius: 5px;
}
.comments a {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
.terms { padding-left: 0; }
.post-nav {
  margin: .5em 0;
  display: flex;
  justify-content: space-between;
}
.footnotes { font-size: .9em; }
.footnotes hr {
  width: 50%;
  margin-left: 0;
}
/* redefined menu top*/
/* by TC*/
.menu-top {
  z-index:1;
  display: flex;
   /*justify-content: space-between;*/
    /*border: 3px solid green;*/
    width: 60%;
    /*margin:auto;*/
  margin-top: 0;
  /*margin-bottom: 15%;*/
  padding-left:0;
  /*padding-top:20;*/

  border-radius: 5px;
    /*display: table-cell;*/
   vertical-align: middle;
   /*position: fixed;*/

}

/*.menu-top li:first-child { border-left: 1px solid #e6ad00; }*/

.menu-top li {
  /*display: inline-block;*/
  /*background: #fff;*/
  background-color: rgba(255, 255, 255, 0.65);
  display: flex;
  /*border-radius: 5px;*/
  /*width: 1em;*/
  /*word-break: break-all;*/
  /*border-left: 1px solid #e6ad00;*/
  /*border-right: 1px solid #fff;*/
  transition: background .5s;
  padding: 5px 1em 5px 1em;
  font-weight: bolder;
  align-items: center;
  z-index:1;
  /*position: */


}



.menu-top li:hover { background: #f8ee79; }
.menu-top li a {
  font-size: large;
  color: #777796;
  /*display: flex;*/
}
/*.menu-top li:hover a { color: #fff; }*/

/*front page*/
/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

/*#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}*/

#particles-js {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: transparent;
  /*background-color: #b61924;*/
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
   z-index:0;
}

/* ---- author card ---- */

.profile-container{
   /*display: inline-grid;*/
   /*background-color: #FFF2CF;*/
   background-color: bisque;
   position: relative;
   left:0;
   top:0;
   margin:5% 0;
   border-radius: 10px;
   /*height:200px;*/
}

.profile-text{
  padding:10px 15px;
  width:50%;
  vertical-align:middle;
  display: inline-block;
}

.profile-img-wrapper{
  width:30%;
  vertical-align:middle;
  display: inline-block;
  margin-left:10%;
}

.profile-img{
   background-color:white;
   /*border:solid;*/
   padding:5px;
   width:50%;
  /*width: 20%;*/
  transform: scale(1.3);
  vertical-align:middle;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.profile-text-author{
  font-size: 2em;
  color: #BE0000;
}

::selection {
    background: #fff661;
    color: #000;
}


/* hover effect*/
/* https://miketricking.github.io/bootstrap-image-hover/ */
/* hover 3*/

.hoverdiv{
  /*width:300px;*/
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  background-color: #777796;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: opacity(.2) blur(3px);
  -webkit-filter: opacity(.2)  blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  /*font-size: 17px;*/
  padding: 10px;
  background: rgba(119,119,150,0.8);
  color: #fff;
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  /*border: 1px solid #fff;*/
  margin: 20px 0 0 0;
  background-color: transparent;
  color: #000;
  font-weight: bold;

}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect a.info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  
  text-transform: uppercase;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

