{{ define "main" }}
<div class="sidenav">

    <h1>  播出时间 </h1>

    {{ range .Data.Pages.GroupByPublishDate "2006-01" }}
    <a href="#{{.Key}}">{{.Key}}</a>
    {{ end }}
</div>
<div class="container article-container">
    <div class="article-rightbar">
        <div class="article-rightbar-child">
            <h1><a href="/{{ .Data.Plural }}"> {{.Section}}</a>/{{.Title}}</h1>
            {{ partial "wiki_summary.html" . }}
        </div>
    </div>
    <div class="article-metamain">
        <table>
            {{ range .Data.Pages.GroupByPublishDate "2006-01" }}
            <th nowrap id="{{.Key}}">
                <h1>{{.Key}}</h1>
            </th>
            {{ range .Pages }}
            {{ partial "article_table.html" .}}
            {{end}}
            {{ end }}
        </table>
    </div>
</div>
{{ end }}