{{ define "main" }}
<div class=" article-container ">
    {{ if .Params.nometa }}
    <div class="article-rightbar"></div>
    {{ else }}
    <div class="article-rightbar">

        {{ if .Params.toc }}

        <div class="article-rightbar-child container1em">

            <div class="sidenav-rightbar card-container">
                <h2>   目录 </h2>
            {{ partial "toc_fixed.html" .}}
            </div>
        </div>

        {{ end }}


        <div class="article-rightbar-child  ">
            {{ partial "author_card.html" .}}
        </div>

        <div class="article-rightbar-child roundit  container1em ">
            <div class="card-container ">
                <h2> {{ default "Tags: " (index $.Site.Params.text "tags") }}</h2>
                
                <p class="tags taxonomy-cloud">

                {{ with .Params.combi }}
                    <a class="tagterm1" href="/combi/{{.}}">{{ . }}</a>
                {{ end }}
                
                {{ with .Params.bangumis }}
                    {{ range $i, $e := . }}
                    {{ if $i }} {{ end }}
                    <a class="tagterm2" href="{{ relURL (print "/bangumis/" $e | urlize) }}">{{ $e }}</a>
                    {{ end }}
                {{end}}

                {{ with .Params.tags }}
                    {{ range $i, $e := . }}
                    {{ if $i }} {{ end }}
                    <a class="tagterm3" href="{{ relURL (print "/tags/" $e | urlize) }}">{{ $e }}</a>
                    {{ end }}
                
                {{ end }}



                </p>

            </div>
        </div>



    </div>
    {{ end }}
    <div class="article-metamain roundit shadowbox padding1em ">
        <div class="article-meta">
            <h1><span class="title">{{ .Title }}</span></h1>
        </div>
        <div class="article-content">

            <!-- implement autolink with regex -->
            {{ $.Scratch.Set "newcontent" .Content }}
            

            {{ range .Site.Params.autolink }}
                {{ $content := ($.Scratch.Get "newcontent") }}
                {{ $content := replaceRE  .replace .with $content }}
                {{ $.Scratch.Set "newcontent" $content }}     

            {{ end }}

            {{ $.Scratch.Get "newcontent" |safeHTML}}           
            


            

        </div>
        {{ if .Params.minimo }}
        {{ else }}
        <div class="article-related">
            <h1><span class="title"> 相关 </span></h1>
                {{ range first 5 (where .Site.RegularPages "Params.zmz" .Params.zmz) }}
                <ul>{{ partial "article_li.html" .}}</ul>
                {{ end }}
        </div>

        {{ end }}
    </div>
</div>
{{ end}}


{{ define "parallax_bg" }}
{{ partial "parallax_regular.html" . }}
{{ end }}


