{{ define "main" }}

<div class="article-container">
    <div class="article-rightbar">
        <div class="article-rightbar-child">
            <h1><a href="/{{ .Data.Plural }}"> {{.Section}}</a>/{{.Title}}</h1>
            {{ partial "wiki_summary.html" . }}
        </div>
    </div>
    <div class="article-metamain shadowbox">
        <table>
            {{ range .Data.Pages.GroupByDate "2006-01" }}
            <th id="{{.Key}}">
                <h4>{{.Key}}</h4>
            </th>
            {{ range .Pages.ByDate }}
            {{ partial "article_table.html" .}}
            {{end}}
            {{ end }}
        </table>
    </div>
</div>
{{ end }}


{{ define "parallax_bg" }}
{{ partial "parallax_regular.html" . }}
{{ end }}
