{{ define "main" }}
<div class="article-container">
    <div class="article-rightbar">
        <div class="article-rightbar-child">
            <h1><a href="/{{ .Data.Plural }}"> {{ .Section }}</a>
                <h1>
        </div>
    </div>
    <div class="article-metamain shadowbox">
        <ul class="taxonomy-cloud">
            {{ range $key, $value := .Data.Terms.ByCount }}
            {{ if gt .Count 3}}
            <li id="{{ .Page.Title }}"> <a href="{{ .Page.Permalink }}" >{{ .Page.Title }}</a> ({{ .Count }})</li>
            {{ end }}
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}

{{ define "parallax_bg" }}
{{ partial "parallax_regular.html" . }}
{{ end }}

