{{ partial "header.html" . }}
<!-- globe -->
  <div class="ball">
    <script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=5w6acuy1p50&amp;m=6&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33" async="async"></script>
  </div>
<!-- particles -->
  <div id="particles-js" style="z-index:-1;height:auto"></div>

  <script src="/js/particles.min.js"></script>

  <script src="/js/particle.js"></script>


<!-- particles end -->
<div class="container">

{{ if eq .Paginator.PageNumber 1 }}

<section class="frontface">

  <div class=frontcontent id="sourrounding_div">

    {{ .Content }}
  </div>


</section>

{{ end }}


<main class="list">


{{ range .Paginator.Pages.ByWeight }}


  {{ if gt (sub now.YearDay .Lastmod.YearDay) -3}}

    {{ if lt (sub now.YearDay .Lastmod.YearDay) 3 }}
        <section class="article-list-highlight3">

    {{ else if lt (sub now.YearDay .Lastmod.YearDay) 7}}
        <section class="article-list-highlight7">

    {{ else if lt (sub now.YearDay .Lastmod.YearDay) 14}}
        <section class="article-list-highlight14">
    {{ else }}
        <section class="article-list">

    {{ end }}
  {{ else }}
        <section class="article-list">

  {{ end }}



  <div class = "category_date">

      <div class="categories">
      {{ with .Params.bangumis }}
      {{ range first 1 . }}
        <a href="{{ relURL (print "/bangumis/" . | urlize) }}">{{ . }}</a>
      {{ end }}
      {{ else }}
        <a>{{ default "Uncategorized" .Site.Params.text.uncategorized }}</a>
      {{ end }}
      </div>

      <div class="date">{{ .Date.Format "2006-01-02" }}</div>

  </div>

  <div class = "thumbblock hoverdiv">
    <a href="{{ .URL }}">
    {{ with .Params.thumbnail }}
    <div class="thumbnail hovereffect"><img src="{{ relURL . }}" alt="Thumbnail" />
        <div class="overlay">
           <h2>Hover effect 3</h2>
           <a class="info" href="#">link here</a>
        </div>
    </div>
    {{ else }}
      {{ $img := findRE "http.*(png|jpg)" .Content 1 }}
        <div class="thumbnail hovereffect", id = "imgholder">
        <img data-src={{print .}} />

    {{ end }}

        <div class="overlay">

           <h2>
                {{ with .Description }}
                   {{ $.Scratch.Set "summary" (markdownify .) }}
                {{ else }}
                   {{ $.Scratch.Set "summary" ((delimit (findRE "(<p.*?>(.|\n)*?</p>\\s*)+" .Content) "[&hellip;] ") | plainify | truncate (default 200 .Site.Params.summary_length) (default " &hellip;" .Site.Params.text.truncated ) | replaceRE "&amp;" "&" | safeHTML) }}
                {{ end }}
              {{ $.Scratch.Get "summary" }}
           </h2>
           <a class="info" href="{{ .URL }}">{{ .Title }}</a>
        </div>
    </div>

  </div>


  <!-- <h1><a href="{{ .URL }}">{{ .Title }}</a></h1> -->
  <div class="date-author">
    {{ if .Params.author }}<span class="author">{{ partial "author_names.html" . }}</span>  {{ end }}
  </div>

</section>
{{ end }}
</main>
<nav>{{ template "partials/pagination.html" . }}</nav>
</div>


<!-- for lazyloading -->
<!-- https://www.sitepoint.com/five-techniques-lazy-load-images-website-performance/ -->
<script type="text/javascript">


[].forEach.call(document.querySelectorAll('img[data-src]'),    function(img) {
  img.setAttribute('src', img.getAttribute('data-src'));
  img.onload = function() {
    img.removeAttribute('data-src');
  };
});

</script>

{{ partial "footer.html" . }}
