{{ with .Params.author }}
{{ if eq (substr (jsonify .) 0 1) "["}}
{{ $.Scratch.Set "page_author" .}}
{{ else }}
{{ $.Scratch.Set "page_author" (slice .) }}
{{ end }}

{{ if $.Site.Data.authors }}
{{ $.Scratch.Set "author_info" (where $.Site.Data.authors.list "name" "in" ($.Scratch.Get "page_author")) }}
{{ end }}

{{ with $.Scratch.Get "author_info" }}
<section class="article-meta article-footer">
    <div class="profile-header">
    &#11044; 关于作者 <hr style="float: right; width: 90%; border-style: solid;"/>
    </div>
    {{ range . }}
    
    <div class="profile-container">
      
        <div class="profile-text">
          <h1 class="profile-text-author">{{ .name }}</h1>
          {{ .intro | markdownify }}
        </div>
        <div class="profile-img-wrapper">
          <img class="profile-img" src="{{ .image }}" alt="{{ .name }}"/>
        </div>
    </div>
    
    {{ end }}

</section>
{{ end }}

{{ end }}

