{{ if .IsPage }}


<div class="show-comments" style="text-align: center">
    <button id="show-comments-button" onclick="disqus();return false;">显示留言</button>
</div>

<!-- <div id="disqus_thread"></div> -->

<div id="lv-container" data-id="city" data-uid="MTAyMC8zMTE2OS83NzE4">

<script>
var disqus_loaded = false;
// var disqus_shortname = 'xxxxxxxx'; //Add your shortname here
function disqus() {
    if (!disqus_loaded)  {
        disqus_loaded = true;
        var e = document.createElement("script");
        e.type = "text/javascript";
        e.async = true;
        // e.src = "//" + disqus_shortname + ".disqus.com/embed.js";
        e.src = 'https://cdn-city.livere.com/js/embed.dist.js';
        (document.getElementsByTagName("head")[0] ||
        document.getElementsByTagName("body")[0])
        .appendChild(e);
        //Hide the button after opening
        document.getElementById("show-comments-button").style.display = "none";

    }
}
//Opens comments when linked to directly

</script>

<!-- 
<div class="show-comments">
    <button id = "show-comments-button" onlick="disqus();return false;"> 打开评论 </button>

    <div id="lv-container" data-id="city" data-uid="MTAyMC8zMTE2OS83NzE4">

</div>

<script>

var disqus_load = false;

function disqus() {
    if (!disqus_load) {
        disqus_load =true;
        var e = document.createElement("script");
        e.type = "text/javascript";
        e.async = true;

        e.src = 'https://cdn-city.livere.com/js/embed.dist.js';

        (document.getElementsByTagName("head")[0] ||
        document.getElementsByTagName("body")[0])
        .appendChild(e);

        document.getElementById("show-comments-button").style.display = "none";

    }
}
    


</script> -->

  <!-- {{ template "_internal/disqus.html" . }} -->

<!-- LiveRe City install code -->
<!-- <div id="lv-container" data-id="city" data-uid="MTAyMC8zMTE2OS83NzE4">
<script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
</script>
<noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
</div> -->
<!-- completed City install code -->
{{ end }}
