<!-- <script src="{{ relURL "/js/article-titles.js" }}"></script> -->

<script type="text/javascript">

(function() {

// https://plainjs.com/javascript/manipulation/wrap-an-html-structure-around-an-element-28/
function wrap_elem(el) {
  var wrapper = document.createElement("div");
  wrapper.className = "title-wrapper";
  el.parentNode.insertBefore(wrapper, el);
  wrapper.appendChild(el);
}

function title_effect(el) {
  wrap_elem(el);
  var cln = el.cloneNode(true);
  cln.className = "full-title";
  el.parentNode.appendChild(cln);
  var comp_style = window.getComputedStyle(cln, null);
  var ht = parseFloat(comp_style.getPropertyValue("height"));
  var lht = parseFloat(comp_style.getPropertyValue("line-height"));
  // Only enable title effect for multi-line titles
  if (ht < 1.5 * lht)  el.parentNode.removeChild(cln);
}

// Find all titles
var titles = document.querySelectorAll(".article-list h1"), len = titles.length;
for (var i = 0; i < len; i++) {
  title_effect(titles[i]);
}

})();

</script>

<!-- for lazyloading -->
<!-- https://www.sitepoint.com/five-techniques-lazy-load-images-website-performance/ -->
<script type="text/javascript">


[].forEach.call(document.querySelectorAll('img[data-src]'),    function(img) {
  img.setAttribute('src', img.getAttribute('data-src'));
  console.log(img.getAttribute('data-src'))
  img.onload = function() {
    img.removeAttribute('data-src');
  };
});

</script>

<!-- <div id="modalSearch" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Search Owaraiclub, powered by Algolia</h4>
        </div>
        <div class="modal-body">
            {{ partial "search.html" . }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
        </div>
      </div>
    </div>
</div> -->
