<link href="//cdn.bootcss.com/highlight.js/9.12.0/styles/github.min.css" rel="stylesheet">

<meta name="baidu-site-verification" content="DvLyyiejlf" />
<!-- https://stackoverflow.com/questions/17281486/use-target-blank-in-css -->

<link rel="stylesheet" href="{{ "css/search.css" | absURL }}" />

  <!-- <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.css" /> -->
  <!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script> -->
  <!-- <script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.js"></script> -->

   <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
