<tr>
    <td nowrap style="text-align:right">{{ .Params.bangumi }}</td>
    <td><a href="{{ .Permalink }}">{{ .Params.title }}</a></td>




    <td>
        {{ range (slice .Params.author)  }}
        <a href="/author/{{.}}">{{ . }}</a>
        {{ end }}
    </td>
    {{ $pan := findRE "pan.baidu.com" .Content 1 }}
    {{ $aid := findRE "http.*www.bilibili.*/video/(av.*?)/" .Content 1 }}

    <td>
        {{ if .Params.recomm }}
          <p>{{ .Params.recomm }}</p>

        {{ else }}
          <p> test </p>
        {{ end }}
    </td>

    <td nowrap>
        {{ if $pan }}
        <a class="highlightit linkbutton" href="{{ .Permalink }}">网盘</a>
        {{ end }}
        {{ if $aid }}
        {{ range $aid }}
        <a class="linkbutton" href="{{print .}}">B站</a>
        {{ end }}
        {{ end }}
    </td>
</tr>