<div class="bubble">
    <img src="/img/baloon/logo_large.png">    
</div>

<div class="banner-layer object-wrapper speed-4">
    <div style="background: url(/img/banner_new/banner_layer4.png) no-repeat; width: 100%; height: 100%; background-size:contain;"></div>
</div>


<div class="banner-layer object-wrapper speed-3">
    <div style="background: url(/img/banner_new/banner_layer3.png) no-repeat; width: 100%; height: 100%; background-size:contain;"></div>
</div>


<div class="banner-layer object-wrapper speed-2">
    <div style="background: url(/img/banner_new/banner_layer2.png) no-repeat; width: 100%; height: 100%; background-size:contain;"></div>
</div>

<div class="banner-layer object-wrapper speed-1">
    <div style="background: url(/img/banner_new/banner_layer1.png) no-repeat; width: 100%; height: 100%; background-size:contain;"></div>
</div>
