<div class="bubble"><a href="/">
    <img class="bubblelogo" src="/img/baloon/logo_large.png"> 
    </a>
</div>

<div class="banner-layer object-wrapper speed-3">
    <div style="background: url(/img/banner_new_min/banner-layer4.png) no-repeat; width: 100%; margin-bottom:19%; padding-bottom: 50%; background-size: 100% auto;
    background-position: center 99%;position: absolute; bottom: 0;"></div>
</div>


<div class="banner-layer object-wrapper speed-2">
    <div style="background: url(/img/banner_new_min/banner-layer3.png) no-repeat; width: 100%; margin-bottom:12%; padding-bottom: 50%; background-size: 100% auto;
        background-position: center 99%; position: absolute; bottom: 0;"></div>
</div>


<div class="banner-layer object-wrapper speed-1">
    <div style="background: url(/img/banner_new_min/banner-layer2.png) no-repeat; width: 100%; margin-bottom:5%; padding-bottom: 50%; background-size: 100% auto;background-position: center 99%;bottom: 0;position: absolute;"></div>
</div>

<div class="banner-layer object-wrapper speed-0">
    <div style="background: url(/img/banner_new_min/banner-layer1.png) no-repeat; width: 100%; margin-bottom:0%;padding-bottom: 20%; background-size: 100% auto;background-position: center 99%; bottom: 0; position: absolute;"></div>
</div>


