{{ define "main" }}
<div class="container article-container">

    <div class="article-rightbar">
   
        <div class="article-rightbar-child">
            <div class="article-content shadowbox">
                {{ .Content }}
            </div>
        </div>

        <div class="article-rightbar-child">
            <h4> 论坛新鲜事 </h4>
            <div class="article-content shadowbox">
                {{ partial "flarum_card.html" . }}
            </div>
        </div>      


        <div class="article-rightbar-child">
            <h4> 由以下字幕组强力驱动 </h4>
            <div class="flexcol">
                {{ range $.Site.Data.authors.list }}
                <a href="/categories/{{ .name }}">
                    <img class="author-img" src="{{ .image }}" alt="{{ .name }}" />
                </a>
                {{ end }}
            </div>
        </div>
    </div>
    
    <div class="article-metamain shadowbox">
        <h1 class="strong"> 最新节目 </h1>
        <main class="list">
            {{ range first 10 (where .Site.RegularPages "Params.bangumi" "not in" site.Params.otherbangumis) }}
            {{ partial "article_justfig.html" . }}
            {{ end }}
        </main>

                <h1 class="strong"> 段子 </h1>
        <main class="list">
            {{ range first 10 (where .Site.RegularPages "Params.bangumi" "段子") }}
            {{ partial "article_justfig_neta.html" . }}
            {{ end }}
        </main>
    </div>



</div>
{{ end }}


