{{ partial "header.html" . }}
<div class="container">
    <main class="list">
        <section class="landing legendary"> 

          {{ .Content }}


        </section>

        <section class="landing epic">

          <h1>节目</h1>

            {{ range first 10 (where .Site.RegularPages "Params.bangumi" "in" site.Params.mainBangumis) }}
            <ul><a href="{{ .Permalink }}">{{ .Title }}</a></ul>
            {{ end }}

            <a href="/post/">查看更多</a>
        </section>
        <section class="landing rare"> 

          <h1>段子</h1>

          {{ range (where .Site.RegularPages "Section" "!=" "").GroupByParam "Bangumi" }}

            {{ if eq .Key "段子" }}

              {{ range first 10 .Pages  }}
              <ul><a href="{{ .Permalink }}">{{ .Title }}</a></ul>
              {{ end }}

            {{ end }}

          {{ end }}
            <a href="/post/">查看更多</a>
        </section>

        <section class="landing common"> 

          <h1>其他</h1>
            {{ range first 10 (where .Site.RegularPages "Params.bangumi" "其他") }}
            <ul><a href="{{ .Permalink }}">{{ .Title }}</a></ul>
            {{ end }}

            <a href="/post/">查看更多</a>
        </section>
</div>
{{ partial "footer.html" . }}