
<div class="frontface">
<p>
笑神本部由以下 {{ len $.Site.Data.authors.list }} 只字幕组构成， 
点击字幕组LOGO即可进入不同字幕组主页，查看所有作品ﾍ(=￣∇￣)ﾉ
</p>
</div>



<table class="profile">
<tbody>
{{ range $.Site.Data.authors.list }}

<!-- <tr><td><h3>{{ .name }}</h3>{{ .intro | markdownify }}</td><td><img class="profile-img" src="{{ .image }}" alt="{{ .name }}"/></td></tr> -->

    <div class="profile-container">
      
        <div class="profile-text">
          <h1 class="profile-text-author">{{ .name }}</h1>
          {{ .intro | markdownify }}
        </div>
        <a href="/categories/{{ .name }}">
        <div class="profile-img-wrapper">
          <img class="profile-img" src="{{ .image }}" alt="{{ .name }}"/>
        </div>
        </a>
    </div>


{{ end }}
</tbody>
</table>


